In [ ]:
plist = ["apple", "banana", 'melon', "grapefruit", "chocolate"]
plist[0:5:3]

['apple', 'grapefruit']

In [ ]:
plist[:]

['apple', 'banana', 'melon', 'grapefruit', 'chocolate']

In [5]:
list2 = ['appl', 'banan', 'cherrie', 'domino', 'dominion']
lostlist = list2
lostlist[0] = 'parkbench'
print(lostlist)
print(list2)

['parkbench', 'banan', 'cherrie', 'domino', 'dominion']
['parkbench', 'banan', 'cherrie', 'domino', 'dominion']

In [6]:
list2 = ['appl', 'banan', 'cherrie', 'domino', 'dominion']
lostlist = list2[:]
lostlist[0] = 'parkbench'
print(lostlist)
print(list2)

['parkbench', 'banan', 'cherrie', 'domino', 'dominion']
['appl', 'banan', 'cherrie', 'domino', 'dominion']

In [10]:
list2.append('person')
print(list2)
list2.insert(2, 'lion')
print(list2)

['appl', 'banan', 'cherrie', 'domino', 'dominion', 'person', 'person']
['appl', 'banan', 'lion', 'cherrie', 'domino', 'dominion', 'person', 'person']

In [15]:
list3 = ['Goober', 'Consumerism', 'Apple', 'Personnification',]
if 'Apple' in list3:
    print('Apple is in the list')
del list3[2]
print(list3)

Apple is in the list
['Goober', 'Consumerism', 'Personnification']

In [20]:
lost = []
for i in range(10):
    lost.append(i+1)
print(lost)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [1]:
lost = [i+1 for i in range (10)]
print(lost)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
lisrt = ['string'for i in range (11)]
print(lisrt)

['string', 'string', 'string', 'string', 'string', 'string', 'string', 'string', 'string', 'string', 'string']

In [13]:
list4 = [ i*i for i in range (1,11) if i%2 == 0]
print(list4)

[4, 16, 36, 64, 100]

In [ ]:
llist=[1,4,2,3,5]
sum = 0
for item in llist:
    sum+=item
print(sum)
#print(llist[1]+llist[0]+llist[2]+llist[4]+llist[3])

15

In [38]:
x = 0
stuff = (1,4,3,8,89)
for item in stuff:
    x += 1
print(x)

5

In [15]:
items=(10,20,30,40)
itemslist = list(items)
itemslist.append(50)
finalitems = tuple(itemslist)
print(finalitems)

(10, 20, 30, 40, 50)

In [14]:
nums = [10,20,30,40]
#nums.append(nums[0])
y = nums[0]
nums[0] = nums[3]
nums[3] = y
#del nums[1]
#del nums[3]
print(nums)

[40, 20, 30, 10]

In [12]:
list42 = []
for i in range(1,11):
    if i%2 == 0:
        list42.append(i**2)
print(list42)

[4, 16, 36, 64, 100]

strings

In [21]:
strong = 'a i e o u'
x = strong[::-1]
print(x)

u o e i a

In [ ]:
strang = ('pYtHon is A sNakE')
strang.lower()
strang.upper()
strang.title()
strang.swapcase()
strang.capitalize()
strang.count('s')
strang.find('is')
strang.index('H')
strang.split('A')

last = ['Snake', 'Python' ,'C++']
' '.join(last)

'Snake0Python0C++'

In [47]:
name = 'Evan'
age = 7
print('Hi my name is ' + name+ ' I am ' +str(age) +' years old.')


print('Hi my name is {} I am {} years old.'.format(name,age))

print(f'Hi my name is {name} I am {age} years old.')

Hi my name is Evan I am 7 years old.
Hi my name is Evan I am 7 years old.
Hi my name is Evan I am 7 years old.

In [23]:
A = {'Tamil' : 92, 'English' : 56, 'Maths' : 88, 'Science' : 97, 'Social' : 89}
B = {'Tamil' : 78, 'English' : 68, 'Maths' : 88, 'Science' : 90, 'Social' : 56}

for item in A:
    if A[item] == B[item]:
        print(f' {item} is the same in both A and B')

 Maths is the same in both A and B

In [13]:
letter = 'A'
d1 = {'Adam smith' : 'A', 'Judy Paxton' : 'B+'}
d2 = {'Mary Louis' : letter, 'Patrick White' : 'C'}
d1.update(d2)
print(d1)

{'Adam smith': 'A', 'Judy Paxton': 'B+', 'Mary Louis': 'A', 'Patrick White': 'C'}